<div class="app-container">
  <img src="assets/hps.png" alt="HPS Logo" class="logo" />

  <!-- Container for New Transaction -->
  <div class="clickable-container" [routerLink]="['/new-transaction']">
    <app-new-transaction>
      <div class="transaction-section">
        <h1>Transaction</h1>
        <h2>Explore and generate your report</h2>
        <div class="icon-container">
          <img src="assets/icon-plus.png" alt="Plus Icon" class="icon-plus" />
        </div>
      </div>
    </app-new-transaction>
  </div>

  <!-- Container for Transaction Report -->
  <div class="clickable-container" [routerLink]="['/transaction-report']">
    <app-transaction-report>
      <div class="report-section">
        <h1>Report</h1>
        <h2>Explore and generate your report</h2>
        <div class="icon-container">
          <img src="assets/icon-plus.png" alt="Plus Icon" class="icon-plus" />
        </div>
      </div>
    </app-transaction-report>
  </div>
</div>
