.container {
  width: 100%;
  /*height: 100vh;*/
  /*overflow: hidden;*/
  box-sizing: border-box;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Adjust the styling of the logo */
.logo {
  width: 30%;
  aspect-ratio: 16/9;
  object-fit: contain;
  object-position: center;
}

.pre-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.transaction-section, .report-section {
  margin: 30px 0; /* Same margin for both components */
  padding: 70px; /* Same padding for both components */
  border: 1px solid rgb(140, 140, 50);
  border-radius: 8px;
  background-color: #e87020;
  width: 80%; /* Same width for both components */
  max-width: 1200px; /* Same max-width for both components */
  margin-left: auto; /* Center the components horizontally */
  margin-right: auto; /* Center the components horizontally */
  cursor: pointer;
}

.transaction-section h1, .report-section h1 {
  font-size: 20px; /* Same font size for headers in both components */
  margin-bottom: 15px; /* Same bottom margin for spacing */
}

.transaction-section h2, .report-section h2 {
  font-size: 20px; /* Same font size for subheaders in both components */
  color: #f6f1f1;
}

.icon-plus {
  width: 50px; /* Same size for icons */
  margin-top: 15px; /* Same top margin for spacing */
}
